<%- include('../partials/head', {pageName: "Home Page"}) %>
<%- include("../partials/nav") %>
<body>
    <div class="container">
    <h1 class="text-center">Create A New Employee Profile</h1>
    <div class="mb-2">
    <form method="POST" action="/ems">
        <div class="mb-2">
            <label for="name">Enter Employee ID</label>
            <input type="text" name="employeeId" id="name" class="form-control">
        </div>
        <div class="mb-2">
            <label for="name">Enter Employee Name</label>
            <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="mb-2">
            <label for="image">Enter the url for the image</label>
            <input type="text" name="image" id="image" class="form-control">
        </div>
        <div class="mb-2">
            <label for="role">What Do You Actually Do?!?</label>
            <input type="text" name="role" id="role" class="form-control">
        </div>
        <div class="text-center my-2 py-2">
    <input type="submit" value="Add Employee" class="btn btn-success" class="form-control">
        </div>
        
    </form>
    </div>
    </div>
</body>
<%- include('../partials/footer') %>   

 