<%- include('./partials/head', {pageName: "Home Page"}) %>
<body>

    <%- include('./partials/nav', {pageName: "Home Page" }) %>
    <div class="container">
        <div class="jumbo jumbotron-fluid">
    <h1>Welcome to Overworked Ogres</h1>
    <img src="https://cdn.midjourney.com/ac0da3e3-033f-4621-8083-0f672eaa2604/grid_0.png">
    <h3>The place for all the ogres to gather!</h3>



</div>
<footer>
    <%- include('./partials/footer') %>
</footer>

</div>
</body>
</html>