<%- include('./partials/head', {pageName: "Home Page"}) %>
<body>
    <%- include('./partials/nav', {pageName: "Home Page" }) %>
    <div class="container">
<h1>here is our home page</h1>


<footer>
    <%- include('./partials/footer') %>
</footer>

</div>
</body>
</html>