<%- include('./partials/head', {pageName: "Home Page"}) %>
<body>

    <%- include('./partials/nav', {pageName: "Home Page" }) %>
    <div class="container">
        <div class="jumbo jumbotron-fluid">
    <h1>here is our home page</h1>
    <h1>Welcome to Overworked Ogres</h1>
    <h3>This is the place for all  the ogres to gather!</h3>



</div>
<footer>
    <%- include('./partials/footer') %>
</footer>

</div>
</body>
</html>