<%- include('./partials/head', {pageName: "Home Page"}) %>
<body>
    <h1>Welcome to Overworked Ogres</h1>
    <h3>This is the place for all  the ogres to gather!</h3>


<%- include('./partials/footer') %>   
</body>
</html>