<%- include('./partials/head', {pageName: "Home Page"}) %>
<body>

    <%- include('./partials/nav', {pageName: "Home Page" }) %>
    <div class="d-flex h-100 text-center text-bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="container">
    <main class=" my-2 px-3">
        <div class="container">
            <div class="jumbo jumbotron-fluid">
        <h1>Welcome to Overworked Ogres</h1>
<h3>The place for all the ogres to gather!</h3>
</div>
<p class="lead">
    <a href="/ems" class="btn btn-lg btn-primary fw-bold border-white bg-dark my-2 p-2">View Employess </a>
</p>
<img class="img-fluid h-75 w-75" src="https://cdn.midjourney.com/ac0da3e3-033f-4621-8083-0f672eaa2604/grid_0.png" alt="">
<div class="row my-2 py-3 d-flex justify-content-center">
    <!-- <div class="col-xs-6 col-xs-offset-6">
        <form action="/" method="GET">
            <div class="input-group">
                <input type="text" name="username" class="form-control" placeholder="Find Employee">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Go!</button>
                </span>
            </div>
        </form>
    </div> -->
</div>
<hr>
</div>
    </main>
    </div>
    </div>

</div>
<footer>
    <%- include('./partials/footer') %>
</footer>
</body>
</html>